<ng-include src="'menu_admin.html'"></ng-include>
<div class="container rounded border shadow p-3 mb-3 bg-white">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <button ng-repeat="u in usuarios" type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" ng-class="{'active':usuario==u.control}" ng-click="verMensajes(u.control)">
                    {{u.control}}<span class="badge badge-pill badge-danger">{{u.nuevos}}</span></button>
            </div>
        </div>
        <div class="col-md-9">
            <div class="my-3" ng-repeat="m in mensajes">
                <div ng-if="$parent.control!=m.de" class="float-left"><i class="material-icons">account_circle</i></div>
                <div ng-class="{'text-right ml-5 pl-5':$parent.control==m.de,'text-left mr-5':$parent.control!=m.de}">
                    <div><span class="badge badge-secondary">{{m.fecha}}</span></div>
                    <div class="d-inline-flex border rounded-lg shadow-sm py-1 px-3 text-justify"
                        ng-class="{'bg-primary text-white':$parent.control==m.de,'bg-light':$parent.control!=m.de}">
                        {{m.comentario}} <span ng-if="m.status=='N' && $parent.control!=m.de" class="badge badge-pill badge-danger">N</span></div>
                </div>
            </div>
        </div>
    </div>
</div>