<ng-include src="'menu_admin.html'"></ng-include>
<div class="container rounded border shadow p-3 mb-5 bg-white">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card border shadow mt-3">
                <div class="card-header">
                    <h6>Consultar Recibo</h6>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="material-icons">monetization_on</i></div>
                        </div>
                        <input type="text" class="form-control" placeholder="Folio de recibo" ng-model="folio">
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-primary" id="consultar" ng-click="buscar()">Consultar <i
                            class="material-icons align-middle">search</i></button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-striped table-responsive table-sm">
                <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Fecha</th>
                        <th>Concepto</th>
                        <th>Monto</th>
                        <th>Status</th>
                        <th>Alumno</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="recibo in recibos">
                        <td>{{recibo.id_recibo}}</td>
                        <td>{{recibo.fecha | date : 'dd/MMM/yyyy'}}</td>
                        <td>{{recibo.conceptos}}</td>
                        <td>{{recibo.total | currency}}</td>
                        <td>{{recibo.status}}</td>
                        <td>{{recibo.control+" "+recibo.nombre}}</td>
                        <td ng-hide="recibo.status=='C'"><button type="button" class="btn btn-primary" ng-click="modifica(recibo)"> <i
                            class="material-icons align-middle">edit</i></button></td>
                        <td ng-hide="recibo.status=='C'"><button type="button" class="btn btn-warning" ng-click="cancelar(recibo)"> <i
                                class="material-icons align-middle">cancel</i></button></td>
                        <td ng-hide="recibo.status=='C'">
                            <button type="button" class="btn btn-danger" ng-click="eliminar(recibo)"> <i
                                class="material-icons align-middle">delete</i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalModifica" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modificar Recibo Electr&oacute;nico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <input class="form-control" type="text" value="{{reciboMod.control}}" readonly>
                            </div>
                            <input class="form-control" type="text" value="{{reciboMod.nombre}}" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <div class="input-group-text"><i class="material-icons">account_balance_wallet</i></div>
                            </div>
                            <input type="text" class="form-control" id="folio" placeholder="Folio de voucher"
                                ng-model="reciboMod.id_recibo">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <div class="input-group-text"><i class="material-icons">dvr</i></div>
                            </div>
                            <input type="text" class="form-control" id="folio" placeholder="Folio de voucher"
                                ng-model="reciboMod.status">
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                                <div class="input-group-text"><i class="material-icons">date_range</i></div>
                            </div>
                            <input type="text" class="form-control" id="folio" placeholder="Folio de voucher"
                                ng-model="reciboMod.fecha">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-hover table-striped table-responsive-sm table-sm">
                            <thead>
                                <tr>
                                    <th>Folio</th>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="voucher in vouchers">
                                    <td>{{voucher.referencia}}</td>
                                    <td>{{voucher.fecha}}</td>
                                    <td>{{voucher.monto | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-hover table-striped table-responsive-sm table-sm">
                            <thead>
                                <tr>
                                    <th>Clave</th>
                                    <th>Concepto</th>
                                    <th>Monto</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="concepto in conceptos">
                                    <td>{{concepto.clave}}</td>
                                    <td>{{concepto.concepto}}</td>
                                    <td>{{concepto.importe | currency}}</td>
                                    <td ng-if="concepto.tag!='MAT_ACT'">
                                    </td>
                                    <td ng-if="concepto.tag=='MAT_ACT'">
                                        <select class="form-control form-control-sm" ng-model="concepto.obs">
                                            <option ng-repeat="m in materias" value="{{m.materia}}">{{m.materia}}</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    ng-click="guardarCambios()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<ng-include src="'toast.html'"></ng-include>