<div class="container" id="contenido">
    <div class="row">
        <div class="col m12 l10 offset-l1 xl8 offset-xl2">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title white-text">Recibo Electr&oacute;nico</span>
                    <p class="z-depth-2 teal lighten-4 black-text center">{{$parent.control+" "+$parent.nombre}}</p>
                    <div>
                        <div class="white-text left">
                            <i class="material-icons">account_balance_wallet</i>Folio:
                            <span class="z-depth-2 teal lighten-4 black-text center">&nbsp;{{$parent.recGlb.id_recibo}}&nbsp;</span>
                        </div>
                        <div class="white-text right">
                            <i class="material-icons">date_range</i>Fecha:
                            <span class="z-depth-2 teal lighten-4 black-text center">&nbsp;{{$parent.recGlb.fecha}}&nbsp;</span>
                        </div>
                    </div>
                    <div>
                        <div class="white-text left">
                            <i class="material-icons">dvr</i>Status:
                            <span class="z-depth-2 teal lighten-4 black-text center">&nbsp;{{$parent.recGlb.status |
                                reciboStatus}}&nbsp;</span>
                        </div>
                    </div>
                    <div>
                        <table class="highlight blue-grey darken-3 z-depth-1">
                            <thead>
                                <tr>
                                    <th>Folio</th>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="voucher in vouchers" style="font-size: small">
                                    <td>{{voucher.referencia}}</td>
                                    <td>{{voucher.fecha}}</td>
                                    <td>{{voucher.monto | currency}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <br>
                    </div>
                    <hr>

                    <table class="highlight blue-grey darken-3">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Concepto</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="concepto in conceptos" style="font-size: small">
                                <td>{{concepto.clave}}</td>
                                <td>{{concepto.concepto}}</td>
                                <td>{{concepto.importe | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="white-text right-align">
                        Monto total:
                        <span class="z-depth-2 teal lighten-4 black-text center-align">&nbsp;{{total | currency}}&nbsp;</span>
                    </div>
                </div>

                <div class="card-action right-align">
                    <button class="btn waves-effect waves-light" type="button" name="regresar" id="regresar" ng-click="regresar()">Regresar
                        <i class="material-icons right">replay</i>
                    </button>
                    <button class="btn waves-effect waves-light" type="button" name="descarga" id="descarga" ng-click="descargar()">Descargar
                        <i class="material-icons right">picture_as_pdf</i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#conSel').formSelect();
    });
</script>