<div class="container" id="contenido">
    <div class="row">
        <div class="col m12 l10 offset-l1 xl8 offset-xl2">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title white-text">Voucher de Banco</span>
                    <p class="z-depth-2 teal lighten-4 black-text center">{{$parent.control+" "+$parent.nombre}}</p>
                    
                        <div class="white-text">
                            <i class="material-icons">account_balance_wallet</i>Folio:
                            <span class="z-depth-2 teal lighten-4 black-text center">&nbsp;{{$parent.vouGlb.referencia}}&nbsp;</span>
                        </div>

                        <div class="white-text">
                            <i class="material-icons">date_range</i>Fecha:
                            <span class="z-depth-2 teal lighten-4 black-text center">&nbsp;{{$parent.vouGlb.fecha}}&nbsp;</span>
                        </div>

                        <div class="white-text">
                            <i class="material-icons">access_time</i>Hora:
                            <span class="z-depth-2 teal lighten-4 black-text center">&nbsp;{{$parent.vouGlb.hora}}&nbsp;</span>
                        </div>

                        <div class="white-text">
                            <i class="material-icons">attach_money</i>Monto:
                            <span class="z-depth-2 teal lighten-4 black-text center">&nbsp;{{$parent.vouGlb.monto}}&nbsp;</span>
                        </div>
                        <p class="center-align">Recibos realizados</p>
                        <table class="highlight">
                            <thead>
                                <tr>
                                    <th>Folio</th>
                                    <th>Fecha</th>
                                    <th>Concepto</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="recibo in recibos" style="font-size: small">
                                    <td><b>{{recibo.id_recibo}}</b></td>
                                    <td>{{recibo.fecha | date : 'dd/MM/yyyy'}}</td>
                                    <td>{{recibo.concepto}}</td>
                                    <td>{{recibo.importe | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    
                </div>
                <div class="card-action right-align">
                    <button class="btn waves-effect waves-light" type="button" name="cancelar" id="cancelar" ng-click="regresar()">Regresar
                        <i class="material-icons right">replay</i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>