<ng-include ng-if="$parent.auth" src="'plantillas/menu.html'"></ng-include>
<section class="container">

  <table class="highlight responsive-table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Referencia</th>
        <th>Monto</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="voucher in vouchers">
        <td>{{voucher.fecha | date : 'dd/MMM/yyyy'}}</td>
        <td>{{voucher.referencia}}</td>
        <td>{{voucher.monto | currency}}</td>
        <td>{{voucher.status | voucherStatus}}</td>
        <td>
          <button class="btn-floating waves-effect waves-light hoverable" ng-click="ver(voucher)"><i class="material-icons">find_in_page</i></button>
          <button ng-if="voucher.status!='U'" class="btn-floating waves-effect waves-light red hoverable" ng-click="eliminar(voucher)"><i
              class="material-icons">cancel</i></button>
          <button ng-if="voucher.status=='V'" class="btn-floating waves-effect waves-light blue hoverable pulse" ng-click="recibo(voucher)"><i class="material-icons">receipt</i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light blue" ng-click="recarga()"><i class="material-icons">autorenew</i></a>
    <a id="bAgregarVoucher" class="btn-floating pulse btn-large waves-effect waves-light" ng-click="agregar()"><i class="material-icons">add</i></a>
  </div>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Eliminar</h4>
      <p>Esta seguro que desea eliminar el registro folio {{vouAct.referencia}} de fecha {{vouAct.fecha}}</p>
    </div>
    <div class="modal-footer">
      <button class="modal-close waves-effect waves-green btn">Cancelar</button>
      <button class="modal-close waves-effect waves-green btn" ng-click="ejecutaElimina()">Eliminar</button>
    </div>
  </div>

</section>

<script>
  $(document).ready(function () {
    $('.sidenav').sidenav();
    $("#modal1").modal();
  });
</script>